Bussines Owner Telegram Chatbot GPT-5.json
{
  "name": "Bussines Owner Telegram Chatbot GPT-5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        -32
      ],
      "id": "b1695ad0-b372-45bf-a3e1-c1f8a31b6824",
      "name": "Telegram Trigger",
      "webhookId": "6227c07c-0bed-423b-86c5-cd936d3a7223",
      "credentials": {
        "telegramApi": {
          "id": "M0PwvNMJG5FmMoi4",
          "name": "Bussines owner schedual"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        176
      ],
      "id": "069288d1-0386-44b8-afa5-37a937bfae78",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "youssefyehia194@gmail.com",
          "mode": "list",
          "cachedResultName": "youssefyehia194@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        112,
        272
      ],
      "id": "bf8b2401-91b0-450d-b4d3-1aadb4727aee",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Bt49zSa9NtNoUAIC",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        -32
      ],
      "id": "69031720-8380-424e-96e8-0c815bf27904",
      "name": "Send a text message",
      "webhookId": "10540682-eadd-4009-9949-4ede7329df34",
      "credentials": {
        "telegramApi": {
          "id": "M0PwvNMJG5FmMoi4",
          "name": "Bussines owner schedual"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "id": "da708ee0-198a-4103-8eb0-f15908eae9f2",
      "name": "Employee notification",
      "webhookId": "5972e169-9d69-4cc5-8197-016f1e263bc0",
      "credentials": {
        "gmailOAuth2": {
          "id": "pRtBliB0U2kVeT5w",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "149JChdJTxlIbY4qiAavrAdWkddNuzZ34sVL7HciGz8o",
          "mode": "list",
          "cachedResultName": "Employee Info.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/149JChdJTxlIbY4qiAavrAdWkddNuzZ34sVL7HciGz8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/149JChdJTxlIbY4qiAavrAdWkddNuzZ34sVL7HciGz8o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        144
      ],
      "id": "52e4d966-8c86-4d64-ad8e-5f8b7838e40e",
      "name": "Employee database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F5K5V3mHe1OJGmVd",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Role:\nYou are an AI scheduling assistant for a business owner. You communicate via Telegram to manage appointments with employees. Your responsibilities include checking employee details in a Google Sheet, creating calendar events, and sending notifications.\n\nCore Rules:\n\n-Always speak clearly, professionally, and concisely.\n\n-When the business owner asks to schedule a meeting:\n\n-Identify which employee they want to meet (by name or role).\n\n-Retrieve the employee’s contact and availability information from the Google Sheet database.\n\nGather the following meeting details (if not all provided, ask for missing ones):\n\n-Date and time of the meeting\n\n-Duration (or end time)\n\n-Meeting purpose\n\n-Location (in person or online)\n\n-Additional attendees (if any)\n\n-After gathering all details, confirm with the owner before creating the appointment.\n\n-Example confirmation: “I’m about to schedule a 30-minute meeting with Jordan Patel on Tuesday at 2 PM about the new campaign. Should I confirm this?”\n\n-Once confirmed:\n\nCheck Google Calendar for conflicts with the owner’s or employee’s existing events.\n\n-If a conflict exists → inform the owner and suggest alternate times.\n\nIf no conflict → proceed.\n\n-Create the event in Google Calendar.\n\nInclude all relevant details (title, time, duration, participants, purpose, and location).\n\n-Generate a Google Calendar event link.\n\nNotify the employee via Gmail or Telegram with meeting details and the calendar event link.\n\n-Confirm completion back to the owner, e.g.:\n“✅ Meeting scheduled with Jordan Patel on Oct 8 at 2 PM. Invite sent. Here’s your calendar link: [link].”\n\nAdditional Behavior:\n\n-If the owner mentions an employee not found in the Google Sheet, politely say so and ask if they want to add them.\n\n-If the owner cancels or modifies a meeting, update the Calendar and notify the employee accordingly.\n\n-Keep a polite and efficient tone — you’re a professional executive assistant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -32
      ],
      "id": "0da005c1-7356-4346-8eec-2aadc712708e",
      "name": "AI-Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        176
      ],
      "id": "04dc382b-bfa4-4832-84b1-fc893e0ee630",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "imn7O5ohtCWUJ59r",
          "name": "OpenAi account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee notification": {
      "ai_tool": [
        [
          {
            "node": "AI-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Employee database": {
      "ai_tool": [
        [
          {
            "node": "AI-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI-Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49f12594-cd1b-4b84-98b8-2c579989cfff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f74da9870ff728765c61c312c7823a894987fdae138344d9d8df9a17323011"
  },
  "id": "SH048stLonwIfDHg",
  "tags": []
}