customer_support_joo_restaurant.json
{
  "name": "customer_support_joo_restaurant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        -432
      ],
      "id": "3628b053-2ebf-4567-8149-f4eb29316f8c",
      "name": "Telegram Trigger",
      "webhookId": "72062fd2-934d-4858-b1ea-8fa65167c25c",
      "credentials": {
        "telegramApi": {
          "id": "U8Qrzo0nFkv0iOMS",
          "name": "joo_restaurant"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1q_8REFCzdHq2_u3YdRqonYgEPZg2qbr9",
          "mode": "list",
          "cachedResultName": "Restaurant DT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1q_8REFCzdHq2_u3YdRqonYgEPZg2qbr9"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "2768728e-6ad0-4add-9464-d2df9d7d6962",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JMqxIH57HlLmvfI4",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e51d5af7-41cc-4e26-84a2-6698d55153cf",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        144
      ],
      "id": "113744ed-6cf5-4c92-9380-d7bd1d1ce212",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        144
      ],
      "id": "de472806-22ed-4d3c-a8b0-252143a00242",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JMqxIH57HlLmvfI4",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        768,
        144
      ],
      "id": "11efddc5-6d42-4f69-83e7-790bc10c5384",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        432
      ],
      "id": "61536176-f027-4b98-a949-8230f9b79fee",
      "name": "joo menu",
      "credentials": {
        "supabaseApi": {
          "id": "mubb5GQ5ErvvDcTF",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Download file').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        656
      ],
      "id": "a1775854-ae6c-48b7-82b2-e9c4b65174ec",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        800
      ],
      "id": "d187230b-5a5c-46bf-9331-fe65dadfbe86",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1120,
        592
      ],
      "id": "f764383a-ba51-4b73-ae75-2bc9fc7cc938",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "vEupygp7lfcFaFwG",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=##ROLE\n** you are my restaurant customer support manager. your role is to route user message to one of your employees.\n\n\n###EMPLOYEES\n** Questions expert: if the user has any questions about our menu or the restaurant \n** Orders Expert: If the user wants to make or canel an order.\nIf the user provides his information. If the user has any question about his order. If the user has chosen a specific order or items. If the user provides the order ID.\n** Generalist: if the user sent a general message (e.g. Hi, Good morning)\n\n\n###OUTPUT EXAMPLE \n{\n\"employee\":\"Question Export\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -416
      ],
      "id": "744dd840-92ff-47ff-b1ea-94c88725b6cc",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"employee\":{\n          \"type\":\"string\",\n          \"description\":\"The employee chosen by AI\"\n\t\t\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        -208
      ],
      "id": "c5c1a132-c4a0-4ca3-8dbd-7bf357d7c359",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Generalist",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92c098a0-9810-48f2-afad-a8522d1e4f85"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e7b67b9-dbfc-45d4-971f-816728567271",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Orders Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f23d39ee-b01d-46c1-b74e-312c6cead671",
                    "leftValue": "={{ $json.output.employee }}",
                    "rightValue": "Questions expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "question"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        576,
        -464
      ],
      "id": "71289286-a249-43eb-ac6d-e030a2f47506",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49ac6b02-c402-4f03-aec7-fcb1390c8476",
              "name": "=System Prompt",
              "value": "You are my restaurant support expert",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -640
      ],
      "id": "c872f65f-6063-4c72-a880-10e233e41224",
      "name": "General system prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19c4b574-a35a-4dd4-8a61-3e38c15bba73",
              "name": "=System Prompt",
              "value": "### ROLE\n** you are responsible for orders management in our restaurant.\nMaking an order, Cancelling an order, replying to inquiries about an order\n\n###TOOLS\n** orders_sheet_read_tool: you use it to reply to users asking about their orders after getting the order ID from the user\n** code_tool: use it to generate a unique ID of 4 numbers before using orders_sheet_write_tool\n**order_sheet_cancel_tool: you are use it to cancel an order\n**restaurant_knowledge_base: Find here our information related to the restaurant and menu\n\n### INSTRUCTION\n** Ask the user about all needed data, name, phone number, address, order. Make sure to collect all needed data\n** Confirm order data before using it to the sheet or cancelling it\n** If a user wants yo cancel an order, make sure to take the order ID whether from conversation history or ask the user.\n** If a can't find an order for a certain ID, tell them that their order wasn't taken successfully, please tell me your order again\n** Always generate a unique ID using code_tool before saving the order\n**After saving order, always send order ID in your message",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -480
      ],
      "id": "ef093bf6-87d2-4586-8b28-313f7605f4d9",
      "name": "Orders System prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca699e83-0c15-479c-9a7b-f2fae6469ca6",
              "name": "=System Prompt",
              "value": "### ROLE\nyour are my restaurant expert in replying to user's questions.\nUse your connected knowledge base to reply to any inquiry.\n\n###TOOLS\n** restaurant_knowledge_base: Find here our information related to the restaurant and menu",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -304
      ],
      "id": "a5a64cc8-af61-4ed9-8302-8cf521a6a81b",
      "name": "Question System prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "={{ $json[\"System Prompt\"] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1168,
        -496
      ],
      "id": "85315e7e-88f7-4af6-b82a-8a2bda13b537",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        -288
      ],
      "id": "72efd35f-c058-45f5-9b42-15284e17b5f4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "//Generate a unique 4-digit order ID without imports\nconst orderid = (Math.floor(1000+Math.random() * 9000)).toString();\nreturn orderid;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1584,
        240
      ],
      "id": "7e8b97f3-8f6c-4841-87ac-d1e6b0e9c4ba",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ",
          "mode": "list",
          "cachedResultName": "orders with joo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order ID",
              "lookupValue": "={{ $fromAI(\"order_id\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1728,
        -352
      ],
      "id": "c5737a4b-6cc0-42ff-bb4a-5da176ea3340",
      "name": "orders_sheet_read_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v3pp2liPaHFFe6JG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ",
          "mode": "list",
          "cachedResultName": "orders with joo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Item": "={{ $fromAI(\"order_item\") }}",
            "Price": "={{ $fromAI(\"order_price\") }}",
            "Order ID": "={{ $fromAI(\"order_id\") }}",
            "Name": "={{ $fromAI(\"client_name\") }}",
            "Phone Number": "={{ $fromAI(\"client_phone\") }}",
            "Address": "={{ $fromAI(\"client_address\") }}",
            "Status": "In Kitchen"
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1792,
        -128
      ],
      "id": "e323a3ac-5c51-4dd9-897b-55412773b417",
      "name": "orders_sheet_write_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v3pp2liPaHFFe6JG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ",
          "mode": "list",
          "cachedResultName": "orders with joo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14MWUBTejBwek_WutaCCv8TPxXRxk5izm2J2CPwff0oQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ $fromAI(\"order_id\") }}",
            "Status": "Cancelled"
          },
          "matchingColumns": [
            "Order ID"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1696,
        64
      ],
      "id": "c50e383a-0a6a-4e11-af15-4ffb4bb3949e",
      "name": "order_sheet_cancel_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v3pp2liPaHFFe6JG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Information about restaurant menu and information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1264,
        -32
      ],
      "id": "5b14d6b8-c925-4443-a663-d924b63749a5",
      "name": "restaurant_knowledge_base",
      "credentials": {
        "supabaseApi": {
          "id": "mubb5GQ5ErvvDcTF",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1328,
        160
      ],
      "id": "5cd9f622-27f4-4e82-a16d-0f8c9c7d6566",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "vEupygp7lfcFaFwG",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        -496
      ],
      "id": "4e74fd31-45f3-4cc2-a062-6911fbedd4f5",
      "name": "Send a text message",
      "webhookId": "73a5895b-8750-4afa-a80f-f3398f6654e9",
      "credentials": {
        "telegramApi": {
          "id": "U8Qrzo0nFkv0iOMS",
          "name": "joo_restaurant"
        }
      }
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1120,
        -272
      ],
      "id": "11f560fd-f6ba-4e12-888b-7572ec9c17f1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xn7wuG8mAUjlBG84",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        -208
      ],
      "id": "740eb67e-70e5-4883-8524-148c12c61f34",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xn7wuG8mAUjlBG84",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "joo menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "joo menu",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "joo menu",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "General system prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders System prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question System prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General system prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orders System prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question System prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_read_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders_sheet_write_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_sheet_cancel_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "restaurant_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "restaurant_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca0397b4-46f0-40bd-8954-801e65291904",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52f74da9870ff728765c61c312c7823a894987fdae138344d9d8df9a17323011"
  },
  "id": "XLAeQz1lwfFonNwM",
  "tags": [
    {
      "createdAt": "2025-09-23T10:26:56.124Z",
      "updatedAt": "2025-09-23T10:26:56.124Z",
      "id": "01WeeQKn9rtpey6g",
      "name": "joo restaurant"
    }
  ]
}